[submodule "vm"]
	path = server/extern/runtime
	url = https://github.com/SQFvm/vm.git
[submodule "server/extern/json"]
	path = server/extern/json
	url = https://github.com/nlohmann/json.git
[submodule "server/vcpkg"]
	path = server/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
